// Container widths
$container-width: 1204px;

// Colors 
$primary-color:		#303E6E;
$secondary-color:	#FF9900;
$tertiary-color:	#039BA5;
$black:				#000;
$white:				#ffffff;

// $secondary-color: #939498;
$tertiary-color-100: #8B3E93;

$dark-100: #34255E;
$dark-200: #0B1D32;
$dark-300: #061527;
$dark-400: #02070E;
$dark-500: #051221;
$dark-600: #040E1B;

$grey-50: #F4F4F4;
$grey-200: #A1A8C1;
$grey-250: #B2B2B4;
$grey-300: #595959;
$grey-400: #414141;
$grey-800: #212529;
$tertiary-100: #EADDFF;

// Fonts
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Open Sans', sans-serif;

// Font Sizes
$font-size-xsmall:	0.75px;
$font-size-small:	1em;
$font-size-base:	1.25em;
$font-size-large:	1.5em;
$font-size-xlarge:	1.75em;

$font-size-large-button: 2.25em;

// Font Weights
$font-weight-l: 300;
$font-weight-r: 400;
$font-weight-m: 500; 
$font-weight-sb: 600; 
$font-weight-b: 700;

// Heading sizes
$font-size-h1: 5em;
$font-size-h2: 3.75em;
$font-size-h3: 3em;
$font-size-h4: 2em;
$font-size-h5: 1.75em;
$font-size-h6: 1.4em;

// Breakpoints
$max-xxl: 2560px;
$fhd: 1920px;
$mac: 1440px;
$lt: 1366px;
$ls: 1280px;
$lg: 1199px;
$ipad: 1024px;
$md: 991px;
$tab: 800px;
$sm: 767px;
$mbl: 640px;
$mb: 580px;
$mbs: 480px;
$ip: 420px;
$xs: 350px;